:root {
  --dkcyan: hsl(185, 75%, 39%);
  --vydkdesatblue: hsl(229, 23%, 23%);
  --dkgrayblue: hsl(227, 10%, 46%);
  --dkgray: hsl(0, 0%, 59%);
  /* - Font size (name and stats): 18px */
  --kumbhSans: "Kumbh Sans", sans-serif;
  /* - Weights: 400, 700 */
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--kumbhSans);
  font-weight: 700;
}
body {
  background-image: url(./images/bg-pattern-bottom.svg);
  background-repeat: round;
  background-position: bottom;
  background-size: contain;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
main {
  border: 1px solid red;
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bubble-bkgnd {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 33%;
  background-image: url(./images/bg-pattern-card.svg);
}
.profile-photo {
  border-radius: 50%;
  border: 0.25rem solid white;
  position: relative;
  bottom: 15%;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.stats > * {
  display: inline-block;
}
